.search-bar {
    display: flex;
    gap: 8px;
}

.search-input {
    flex: 1;
    padding: 10px 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--background-color);
}

.search-input:focus {
    outline-color: var(--secondary-color);
}

.buttons-group {
    display: flex;
    gap: 8px;
    flex: 1;
    width: 100%;
}

.buttons-group .button {
    flex: 1;
}

@media (max-width: 768px) {
    .search-bar {
        flex-direction: column;
    }
}