
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
    color: var(--color-primary);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secondary);
}

h5 {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--color-secondary);
}

p {
    font-size: 1rem;
}

:root {
    --color-primary: #999AC6;
    --color-secondary: #0B3954;
    --color-light: #FFF9EC;
    --color-dark: #798071;
    --color-bright: #FF5A5F;
    --color-background: #FCFAFA;
}