@import './component_skeletons/accordion.css';
@import './component_skeletons/gallery.css';
@import './component_skeletons/card.css';
@import './component_skeletons/navbar.css';
@import './component_skeletons/forms.css';
@import './component_skeletons/button.css';

.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}


.sitemap h1 {
    /* font-size: 2rem;
    font-style: bold; */
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
}

.sitemap img {
    margin-block: 2rem;
}

@media (min-width: 768px) {
    .sitemap h1 {
        font-size: 3rem;
    }
}

.breadcrumbs-link {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.breadcrumbs-link a {
    color: var(--color-primary);
    text-decoration: underline;
}

.breadcrumbs-link .active {
    font-weight: bold;
}

@media (min-width: 768px) {
    .breadcrumbs-link {
        display: none
    }
}