@import './component_skeletons/accordion.css';
@import './component_skeletons/gallery.css';
@import './component_skeletons/card.css';
@import './component_skeletons/navbar.css';
@import './component_skeletons/forms.css';
@import './component_skeletons/button.css';




.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}