.accordion-header {
    background-color: var(--primary-color);
    color: white;
}

.accordion.nested .accordion-header {
    color: white;
    border-radius: 10px 10px 0 0;
}

.accordion.nested .accordion-content {
    color: var(--primary-color);
    /* border: 1px solid red; */
    border-radius: 0 0 10px 10px;
}