.visceral-header {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

.behavioral-header {
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
}

.reflective-header {
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
}